@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Rubik.woff2") format("woff2");
}

@theme {
  /* Font */
  --font-rubik: "Rubik", sans-serif;

  /* Colors */
  --color-charcoal: #36454f;
  --color-positive: #098551;
  --color-negative: #cf202f;
  --color-blue: #0052ff;
  --color-light-gray: #eef0f3;
  --color-light-gray-disabled: #eef0f359;

  /* Breakpoints */
  --breakpoint-xs: 425px;
}

.content-block {
  @apply font-rubik text-charcoal py-3 border-b border-light-gray;
}

.container {
  @apply w-[90%] max-w-[1440px] mx-auto;
}
