@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Rubik.woff2") format("woff2");
}

@theme {
  /* Fonts */
  --font-rubik: "Rubik", sans-serif;

  /* Colors */
  --color-charcoal: #36454f;
  --color-steel: #adb5bd;
  --color-light-steel: #dee2e6;
  --color-positive: #00a63e;
  --color-negative: #e7000b;

  /* Breakpoints */
  --breakpoint-xs: 425px;
}

.border-bottom {
  @apply text-sm text-charcoal border-b border-light-steel;
}

.container {
  @apply w-[90%] max-w-[1440px] py-3 mx-auto;
}
